---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claremont Volleyball - Coming Soon Page</title>

    {% include head.html %}
  </head>
  
  <body id="contact-body-success">
    <!-- Contact -->
    <section id="contact-success">
      <div class="container-fluid">
        <div class="row" data-scroll-reveal="">
          <div class="col-md-6 col-md-offset-3">
            <img src="/images/kangaroo-set.png" class="img kangaroo-set">
            <h2>Success!</h2>
            <p>Thanks for shooting us an email! We'll get back to you soon!</p>
          </div>
        </div>
        <div class="row">
          <a href="/" class="button button-contact-success intro hvr-float" data-scroll-reveal="wait 0.5s">Back</a>
        </div>
      </div>
    </section>
    <!-- End Contact -->

    <!-- Footer -->
    {% include footer.html %}

    <!-- Javascript Files -->
    {% include scripts.html %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv-3.7.0.min.js"></script>
      <script src="js/respond-1.4.2.min.js"></script>
    <![endif]-->
  </body>
</html>