<header id="header">
  <div class="inner">

    <!-- Logo -->
      <h1><a href="/" id="logo"><span class="claremont">Claremont</span> Volleyball</a></h1>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current_page_item"><a href="index.html">Home</a></li>
          <li>
            <a href="#">Men's</a>
            <ul>
              <li><a href="#">Men's</a></li>
              <li><a href="#">Women's</a></li>
              <li>
                <a href="#">Phasellus consequat</a>
                <ul>
                  <li><a href="#">Lorem ipsum dolor</a></li>
                  <li><a href="#">Phasellus consequat</a></li>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                </ul>
              </li>
              <li><a href="#">Veroeros feugiat</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Women's</a>
            <ul>
              <li><a href="#">Men's</a></li>
              <li><a href="#">Women's</a></li>
              <li>
                <a href="#">Phasellus consequat</a>
                <ul>
                  <li><a href="#">Lorem ipsum dolor</a></li>
                  <li><a href="#">Phasellus consequat</a></li>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                </ul>
              </li>
              <li><a href="#">Veroeros feugiat</a></li>
            </ul>
          </li>
          <li><a href="left-sidebar.html">Calendar</a></li>
          <li><a href="right-sidebar.html">Announcement</a></li>
        </ul>
      </nav>

  </div>
</header>
